:root {
  --main-1: rgba(71, 136, 215, 1);
  --main-2: rgba(76, 145, 218, 1);
  --main-3: rgba(137, 204, 250, 1);
  --grayscale-1: rgba(255, 255, 255, 1);
  --grayscale-2: rgba(246, 243, 254, 1);
  --grayscale-3: rgba(209, 209, 216, 1);
  --grayscale-4: rgba(185, 185, 192, 1);
  --grayscale-5: rgba(182, 182, 182, 1);
  --grayscale-6: rgba(152, 152, 152, 1);
  --grayscale-7: rgba(82, 83, 99, 1);
  --grayscale-8: rgba(45, 46, 59, 1);
  --grayscale-9: rgba(8, 8, 10, 1);
  --accent-1: rgba(255, 255, 255, 0.7);
  --accent-2: rgba(255, 2, 2, 1);
  --accent-3: rgba(195, 224, 193, 1);
  --koneng: rgba(230, 238, 185, 1);
  --accent-4: rgba(71, 136, 215, 0.8);
  --accents-5: rgba(76, 145, 218, 0.7);
  --accents-6: rgba(137, 204, 250, 0.7);
  --headline-1-font-family: "Mulish-ExtraBold", Helvetica;
  --headline-1-font-weight: 800;
  --headline-1-font-size: 30px;
  --headline-1-letter-spacing: 0px;
  --headline-1-line-height: normal;
  --headline-1-font-style: normal;
  --headline-2-font-family: "Mulish-ExtraBold", Helvetica;
  --headline-2-font-weight: 800;
  --headline-2-font-size: 24px;
  --headline-2-letter-spacing: 0px;
  --headline-2-line-height: normal;
  --headline-2-font-style: normal;
  --headline-3-font-family: "Mulish-ExtraBold", Helvetica;
  --headline-3-font-weight: 800;
  --headline-3-font-size: 22px;
  --headline-3-letter-spacing: 0px;
  --headline-3-line-height: normal;
  --headline-3-font-style: normal;
  --headline-4-font-family: "Mulish-ExtraBold", Helvetica;
  --headline-4-font-weight: 800;
  --headline-4-font-size: 20px;
  --headline-4-letter-spacing: 0px;
  --headline-4-line-height: normal;
  --headline-4-font-style: normal;
  --headline-5-font-family: "Mulish-ExtraBold", Helvetica;
  --headline-5-font-weight: 800;
  --headline-5-font-size: 18px;
  --headline-5-letter-spacing: 0px;
  --headline-5-line-height: normal;
  --headline-5-font-style: normal;
  --subtitle-1-font-family: "Mulish-Regular", Helvetica;
  --subtitle-1-font-weight: 400;
  --subtitle-1-font-size: 15px;
  --subtitle-1-letter-spacing: 0px;
  --subtitle-1-line-height: normal;
  --subtitle-1-font-style: normal;
  --subtitle-2-font-family: "Mulish-Regular", Helvetica;
  --subtitle-2-font-weight: 400;
  --subtitle-2-font-size: 12px;
  --subtitle-2-letter-spacing: 0px;
  --subtitle-2-line-height: normal;
  --subtitle-2-font-style: normal;
  --text-light-font-family: "Mulish-Light", Helvetica;
  --text-light-font-weight: 300;
  --text-light-font-size: 15px;
  --text-light-letter-spacing: 0px;
  --text-light-line-height: normal;
  --text-light-font-style: normal;
  --text-reguler-font-family: "Mulish-Regular", Helvetica;
  --text-reguler-font-weight: 400;
  --text-reguler-font-size: 15px;
  --text-reguler-letter-spacing: 0px;
  --text-reguler-line-height: normal;
  --text-reguler-font-style: normal;
  --text-extrabold-font-family: "Mulish-ExtraBold", Helvetica;
  --text-extrabold-font-weight: 800;
  --text-extrabold-font-size: 15px;
  --text-extrabold-letter-spacing: 0px;
  --text-extrabold-line-height: normal;
  --text-extrabold-font-style: normal;
}
